<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Supplier details</title>
  <style>
    body {
      background-image: url('sal.jpg');
      
      background-position: center;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    #salContainer {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: 0 auto;
      margin-top: 50px;
    }
    h2 {
      margin-top: 0;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border:#000000;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: #000000;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      border-radius: 20px;
      box-shadow: #333;
    }
    td {
  text-align: left;
  padding: 10px;
  font-size: large;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
  background-color: #49b8e3;
  color: #ffffff;
  padding: 10px; /* add padding */
}

tr:hover {
  background-color: #ef8f8f;
}

#rate {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%); /* center the div horizontally */
  width: 382px;
  display: block;
  max-width: 500px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(310deg, #d7a1aa 40%, #0dc0c3 60%);
}

    .rate-info {
  background: linear-gradient(310deg , #d7a1aa 40%, #0dc0c3 60%);
}
  </style>
</head>
<div id="salContainer">
  <h2>Enter Details</h2>
  <form action="/addrate/<%= supplier_code %>" method="POST">
    <label for="product_name">Product name:</label>
    <input type="text" id="product_name" name="product_name"><br>
  
    <label for="rate">Rate:</label>
    <input type="text" id="rate_input" name="rate"><br>
    
  
    <input type="submit" value="Save">
  </form>
  </div>
  </div>
</div>

<div id="rate" class="rate" >
<table>
    <thead>
      <tr>
        <th>Item name</th>
        <th>Rate (in Rs)</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
        <tr>
            <td><%= result.product_name %></td>
            <td><%= result.rate %></td>
            
        </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
<body>
  <div>

  </div>

</body>
</html>
